body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#quote-box {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-inline-start: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-style: groove;
    border-radius: 10%;
}

blockquote {
    margin-top: -10px;
}

button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 30px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

#output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#output-text {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: -5px;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image-container {
    position: relative;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

#social-media a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#social-media a:hover {
    background-color: #3e8e41;
}

#social-media .twitter {
    background-color: #1DA1F2;
}

#social-media .twitter:hover {
    background-color: #0d95e8;
}

#social-media .instagram {
    background-color: #E4405F;
}

#social-media .instagram:hover {
    background-color: #d32e56;
}

#social-media .whatsapp {
    background-color: #25D366;
}

#social-media .whatsapp:hover {
    background-color: #1db954;
}

#social-media i {
    margin-right: 8px; /* Add space between icon and text */
}

#save-quote{
    background-color: black;
    margin-top: 20px;
    margin-left: -20px;
    width: 50mm;

}
